@model Student_Demo.Models.VMFooter

@{
    ViewBag.Title = "Footer";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<h2>Footer</h2>
<div class="row">
    <div class="col-4">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>VMFooter</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.DisplayText, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DisplayText, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DisplayText, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LinkUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LinkUrl, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LinkUrl, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SortOrder, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SortOrder, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SortOrder, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-success" />
                        <h2 color="red"> @ViewBag.msg</h2>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4">

    </div>
</div>

<table>
    <tr>
        <th>Id</th>
        <th>DisplayText</th>
        <th>Link</th>
        <th>SortOrder</th>
    </tr>
    @foreach (var item in ViewBag.allFooters)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.DisplayText</td>
            <td>@item.LinkUrl</td>
            <td>@item.SortOrder</td>
        </tr>

    }
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
